@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-2xl;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  @apply bg-slate-50 text-slate-950 dark:bg-slate-950 dark:text-slate-50;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  @apply outline-accent-500 dark:outline-accent-400;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
